<% provide(:title, @venue[:name]) %>

<div class="container">
    <div class="row">
        <div class="small-12 columns">

            <p class="subheader bigger">You should go to</p>

            <div class="radius callout panel">
                <h2><%= @venue[:name] %></h2>
                <ul class="vcard">
                    <li class="street-address"><%= @venue[:location][:address] %></li>
                    <li><%= @venue[:location][:crossStreet] %></li>
                    <li><a href="tel:<%= @venue[:contact][:formattedPhone] %>"><%= @venue[:contact][:formattedPhone] %></a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="row buttons">
        <div class="small-12 medium-6 columns">
            <h3><%= link_to 'Try Another One', food_index_path, class: "button expand radius" %></h3>
        </div>
        <div class="small-12 medium-6 columns">
            <h3><%= link_to 'I Want a Drink Instead', drinks_path, class: "button expand radius" %></h3>
        </div>
    </div>
</div>
